{% extends "base.html" %}

{% block content %}
    <div class=" main-info w3l">

        <div class="main-row">
            <!-- main-row-one -->
            <div class="profile-grid logo wthree">
                <img src="http://10.7.7.163:9000/jianli/images/img1.jpg" style="width: 100px" alt="">
                <h2>Mr.Zhao </h2>
                <p>一个虚拟的文本</p>

            </div>

            <h3 class="title">技能</h3>
            <div class="col-md-6 skills-right bar_group">

                <div class='bar_group__bar thin' label='html &nbsp;&nbsp; 90%' value='200'></div>
                <div class='bar_group__bar thin' label='javascript &nbsp;&nbsp; 99%' value='250'></div>
                <div class='bar_group__bar thin' label='css &nbsp;&nbsp; 80%' value='180'></div>
                <div class='bar_group__bar thin' label='English &nbsp;&nbsp; 1%' value='10'></div>
            </div>


            <!--bar-js-->
            <script src="http://10.7.7.163:9000/jianli/js/bars.js"></script>
            <div class="social-icons agileits">
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#" class="fb"></a></li>
                    <li><a href="#" class="be"></a></li>
                    <li><a href="#" class="gg"></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <!-- copyright -->
        <div class="copyright">
            <p> © 2016 Hovace . 保留所有权利 |</p>
        </div>
        <!-- //copyright -->
    </div>

{% endblock %}