{% extends "test.html" %}

{% block content %}
    <div class="posts">
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">{{ post.title }}</h2>

                <p class="post-meta">
                    日期：<a class="post-author" href="#">{{ date_time|date:'Y /m /d' }}</a>
                    作者：<a class="post-category post-category-js" href="#">{{ post.category }}</a>
                </p>
            </header>

            <div class="post-description">
                <p>
                    {{ post.content }}
                </p>
            </div>
        </section>
    </div><!-- /.blog-post -->
{% endblock %}